name: "Synopsys Intelligent Security Scan"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 2

    # If this run was triggered by a pull request event, then checkout
    # the head of the pull request instead of the merge commit.
    - run: git checkout HEAD^2
      if: ${{ github.event_name == 'pull_request' }}
    
    - name: Synopsys Intelligent Security Scan
      id: prescription
      uses: synopsys-sig/intelligent-security-scan@2021.12.3
      env:
        persona: developer
        release_type: major
      with:
        ioServerUrl: ${{secrets.ORG_IO_SERVER_URL}}
        ioServerToken: ${{secrets.ORG_IO_SERVER_TOKEN}}
        workflowServerUrl: ${{secrets.ORG_WORKFLOW_SERVER_URL}}
        workflowVersion: 2022.4.0
        manifestType: yml
        ioProjectName: devsecops-vulnado
        additionalWorkflowArgs: --persona=$persona --release.type=$release_type --asset.id=$ioProjectName --project.name=$ioProjectName --polaris.url=${{secrets.ORG_POLARIS_SERVER_URL}} 
                --polaris.token=${{secrets.ORG_POLARIS_ACCESS_TOKEN}} --codedx.url="https://poc10.codedx.synopsys.com/codedx/" --codedx.project.id=2 --codedx.api.key=${{secrets.ORG_CODEDX_API_KEY}}
        stage: "IO"
    
    # Please note that the ID in previous step was set to prescription
    # in order for this logic to work also make sure that POLARIS_ACCESS_TOKEN
    # is defined in settings
    - name: Static Analysis with Polaris
      if: ${{steps.prescription.outputs.sastScan == 'true' }}
      run: |
          export POLARIS_SERVER_URL=${{ secrets.ORG_POLARIS_SERVER_URL}}
          export POLARIS_ACCESS_TOKEN=${{ secrets.ORG_POLARIS_ACCESS_TOKEN}}
          wget -q $POLARIS_SERVER_URL/api/tools/polaris_cli-linux64.zip
          unzip -j polaris_cli-linux64.zip -d /tmp
          /tmp/polaris analyze -w
    
    # Please note that the ID in previous step was set to prescription
    # in order for this logic to work
    - name: Software Composition Analysis with Black Duck
      if: ${{steps.prescription.outputs.scaScan == 'true' }}
      uses: blackducksoftware/github-action@v2
      with:
         args: '--blackduck.url="${{ secrets.ORG_BLACKDUCK_URL}}" --blackduck.api.token="${{ secrets.ORG_BLACKDUCK_TOKEN}}" --detect.tools="SIGNATURE_SCAN,DETECTOR"'
    
    - name: Rapid Scan with Black Duck
      if: ${{steps.prescription.outputs.scaScan == 'true' }}
      run: bash <(curl -s https://detect.synopsys.com/detect7.sh) \
          --blackduck.url="${{ secrets.ORG_BLACKDUCK_URL}}" \
          --blackduck.api.token="${{ secrets.ORG_BLACKDUCK_TOKEN}}" \
          --detect.blackduck.scan.mode=RAPID --detect.bom.aggregate.name=aggregated.bdio \
          --detect.cleanup=false
    
    - name: Synopsys Intelligent Security Scan
      if: ${{ steps.prescription.outputs.sastScan == 'true' || steps.prescription.outputs.scaScan == 'true' }}
      uses: synopsys-sig/intelligent-security-scan@2021.12.3
      env:
        persona: developer
        release_type: major
      with:
        ioServerUrl: ${{secrets.ORG_IO_SERVER_URL}}
        ioServerToken: ${{secrets.ORG_IO_SERVER_TOKEN}}
        workflowServerUrl: ${{secrets.ORG_WORKFLOW_SERVER_URL}}
        workflowVersion: 2022.4.0
        manifestType: yml
        ioProjectName: devsecops-vulnado
        additionalWorkflowArgs: --persona=$persona --asset.id=$ioProjectName --project.name=$ioProjectName --slack.channel.id=C015LGE7RRQ --slack.token=${{secrets.ORG_SLACK_TOKEN}} 
                --jira.project.name=VUL --jira.assignee="rahulgu@synopsys.com" --jira.api.url="https://demo-sig-jira.atlassian.net" --jira.username=rahulgu@synopsys.com --jira.auth.token=${{secrets.ORG_JIRA_TOKEN}}
                --IS_SAST_ENABLED=${{steps.prescription.outputs.sastScan}} --IS_SCA_ENABLED=${{steps.prescription.outputs.scaScan}} --IS_DAST_ENABLED=false
                --polaris.project.name=sig-devsecops/vulnado --polaris.url=${{secrets.ORG_POLARIS_SERVER_URL}} --polaris.token=${{secrets.ORG_POLARIS_ACCESS_TOKEN}} 
                --blackduck.project.name=vulnado:1.0 --blackduck.url=${{secrets.ORG_BLACKDUCK_URL}} --blackduck.api.token=${{secrets.ORG_BLACKDUCK_TOKEN}}
                --msteams.webhook.url=${{secrets.TEAMS_WEBHOOK_URL}} --codedx.url="http://23.99.131.170:8080/codedx" --codedx.project.id=3 --codedx.api.key=${{secrets.ORG_CODEDX_API_KEY}}
        stage: "WORKFLOW"
    
    - name: Upload SARIF file
      if: ${{steps.prescription.outputs.sastScan == 'true' }}
      uses: github/codeql-action/upload-sarif@v1
      with:
        # Path to SARIF file relative to the root of the repository
        sarif_file: workflowengine-results.sarif
